---
import Banner from '@/components/Banner.astro'
import Layout from '../layouts/Layout.astro'
import RecentWorkSection from '@/components/RecentWorkSection.astro'
import ContactSection from '@/components/ContactSection.astro'
import Albums from '@/components/AlbumsSection.astro'
---

<Layout title="Alejandro Arroyo - Photo">
	<main class="flex flex-col justify-center min-h-screen">
		<Banner />
		<RecentWorkSection />
		<ContactSection />
		<Albums />
	</main>
</Layout>
