---
import Banner from '@/components/Banner.astro'
import Layout from '../layouts/Layout.astro'
import RecentWorkSection from '@/components/RecentWorkSection.astro'
import ContactSection from '@/components/ContactSection.astro'
import Albums from '@/components/Albums.astro'
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center">
		<Banner />
		<RecentWorkSection />
		<ContactSection />
		<Albums />
	</main>
</Layout>
