---
import Albums from '@/components/AlbumsSection.astro'
import Banner from '@/components/Banner.astro'
import ContactSection from '@/components/ContactSection.astro'
import Layout from '@/layouts/Layout.astro'
import RecentWorkSection from '@/components/RecentWorkSection.astro'
---

<Layout title="Alejandro Arroyo - Photo" headerItems="true">
	<main class="flex flex-col justify-center min-h-screen">
		<Banner
			class="h-[80vh]"
			title="Alejandro Arroyo Photo"
			subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non imperdiet ipsum. Praesent vel pharetra dolor. Nam feugiat pharetra ligula. Vivamus id tristique arcu. Donec aliquam dolor lorem, vitae vehicula mi sollicitudin pulvinar. Pellentesque enim tellus"
			coverImage="./banner_tmp.png"
		/>
		<RecentWorkSection />
		<ContactSection />
		<Albums />
	</main>
</Layout>
