<section class="relative w-full h-[481px] text-white">
  <img src="/Contact.jpg" class="absolute top-0 left-0 w-full h-[481px]" />
  <div class="absolute top-0 left-0 w-full h-[481px] bg-black opacity-50"></div>
  <article class="absolute top-0 left-0 w-full h-[481px] flex flex-col justify-center items-center gap-y-12">
    <div class="flex flex-col justify-center items-center gap-y-4">
      <h2 class="text-2xl">¿Te gusta mi trabajo?</h2>
      <p class="text-xl">Ponte en contacto conmigo para trabajar juntos</p>
    </div>
    <button class="bg-[#892C14] px-4 py-2 text-white rounded-lg">Contactar</button>
  </article>
</section>