<section id="contact" class="relative w-full h-[481px] text-white">
  <!-- <img src="/Contact.jpg" class="absolute top-0 left-0 w-full h-[481px] object-cover" /> -->
  <img 
    src="https://res.cloudinary.com/dfptr2cpc/image/upload/v1736586632/Contact_wogr2b.jpg"
    class="absolute top-0 left-0 w-full h-[481px] object-cover"
  />
  <div class="absolute top-0 left-0 w-full h-[481px] bg-black opacity-50"></div>
  <article class="absolute top-0 left-0 w-full h-[481px] flex flex-col justify-center items-center gap-y-12">
    <div class="flex flex-col justify-center items-center gap-y-4">
      <h2 class="text-2xl">¿Te gusta mi trabajo?</h2>
      <p class="text-xl">Ponte en contacto conmigo para trabajar juntos</p>
    </div>
    <button 
      id="contact"
      class="bg-[#892C14] border-2 border-transparent px-4 py-2 text-white rounded-lg cursor-pointer scale-90
      transition-all duration-200 ease-in-out hover:scale-110 hover:opacity-100 hover:bg-transparent hover:border-white"
    >Contactar</button>
  </article>
</section>

<script>
  const btnContact = document.querySelector("#contact");
  if (btnContact) {
    btnContact.addEventListener("click", () => {
      window.location.href = 'mailto:josearroyoescudero@gmail.com?subject=Me%20interesa%20tu%20trabajo&body=[Cuéntame%20lo%20que%20necesitas%20aquí]';
    });
  }
</script>