---
import EmailIcon from "./icons/EmailIcon.astro"
import InstagramIcon from "./icons/InstagramIcon.astro"
---

<footer class="py-5 w-full xl:w-[1440px] mx-auto flex justify-between">
  <span>© Alejandro Arroyo</span>
  <div class="flex flex-auto justify-end space-x-6">
    <span
    class="cursor-pointer opacity-70 origin-center scale-90 transition-all 
    duration-200 ease-in-out hover:opacity-100 hover:text-[#792a15] 
    hover:scale-100 hover:font-bold" 
    >Contacto: email@email.com</span>
    <EmailIcon 
      class="size-6 cursor-pointer opacity-70 scale-90 transition-all duration-200 ease-in-out hover:scale-110 hover:opacity-100 hover:text-[#792a15]" 
    />
    <InstagramIcon
      class="size-6 cursor-pointer opacity-70 scale-90 transition-all duration-200 ease-in-out hover:scale-110 hover:opacity-100 hover:text-[#792a15]"
    />
  </div>
</footer>