---
import EmailIcon from "./icons/EmailIcon.astro"
import InstagramIcon from "./icons/InstagramIcon.astro"
---

<footer class="py-5 w-full xl:w-[1120px] mx-auto flex justify-between">
  <span>© Alejandro Arroyo</span>
  <div class="flex flex-auto justify-end space-x-6">
    <span>Contacto: email@email.com</span>
    <EmailIcon class="size-6" />
    <InstagramIcon class="size-6" />
  </div>
</footer>