<header class="py-5 w-full xl:w-[1120px] mx-auto">
  <nav class="flex justify-between">
    <a class="basis 1/3 text-3xl" href="#">Alejandro Arroyo</a>
    <div class="flex-auto 2/3 flex justify-end items-center space-x-6 text-lg">
      <a href="#">TRABAJOS</a>
      <a href="#">ÁLBUMES</a>
      <a href="#">CONTACTO</a>
    </div>
  </nav>
</header>