<header class="w-full bg-white fixed top-0 left-0 right-0 z-10">
  <div class="py-5 w-full xl:w-[1440px] mx-auto">
    <nav class="flex justify-between items-center text-center">
      <a class="basis 1/3 text-3xl" href="#">Alejandro Arroyo</a>
      <div class="flex-auto 2/3 flex justify-end items-center space-x-6 text-lg">
        <a 
          href="#recentWork" 
          class="flex-row justify-center cursor-pointer 
          font-medium rounded-lg px-5 text-center inline-flex items-center 
          mr-2 transition-all duration-200 ease-in-out 
          hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100
          hover:text-[#792a15]"
        >TRABAJOS</a>
        <a 
          href="#albums" 
          class="flex-row justify-center cursor-pointer 
          font-medium rounded-lg px-5 text-center inline-flex items-center 
          mr-2 transition-all duration-200 ease-in-out 
          hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100
          hover:text-[#792a15]"
        >ÁLBUMES</a>
        <a 
          href="#contact" 
          class="flex-row justify-center cursor-pointer 
          font-medium rounded-lg px-5 text-center inline-flex items-center 
          mr-2 transition-all duration-200 ease-in-out 
          hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100
          hover:text-[#792a15]"
        >CONTACTO</a>
      </div>
    </nav>
  </div>
</header>