---
import RecentWorkBentoItem from "./RecentWorkBentoItem.astro"
---

<section id="recentWork" class="w-full xl:w-[1440px] mx-auto py-20 flex flex-col justify-center items-center space-y-10">
  <header class="w-full xl:w-[1440px] flex flex-col justify-center items-center">
    <h2 class="text-3xl m-2">Mis últimos trabajos</h2>
    <div class="bg-[#892C14] w-1/6 h-1"></div>
  </header>
  <div class="grid grid-cols-1 md:grid-cols-10 auto-rows-[30rem] gap-4">
    <RecentWorkBentoItem 
        class="col-span-1 md:col-span-4" 
        title="ANDORRA: EL CÉNIT DE LOS PREMIOS ESLAND"
      >
        <div
          slot="image"
          class="absolute left-0 top-0 bottom-0 w-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-[#892C14] -z-10"
          style="background-image: url('/Sydney.jpg');"
        />
        <p slot="content" class="max-w-xl">
          Una nueva edición <strong>cargada de novedades</strong> y contenido, que empezará varias semanas antes de la ansiada gala. <strong>Directos especiales, colaboraciones, conciertos y mucho más</strong> en lo que será una auténtica fiesta dedicada a la creación de contenido.
        </p>
      </RecentWorkBentoItem>
      <RecentWorkBentoItem 
        class="col-span-1 md:col-span-6" 
        title="LA ALFOMBRA BLANCA" 
        subtitle="16 de febrero de 2024"
      >
        <div
          slot="image"
          class="absolute left-0 top-0 bottom-0 w-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-[#892C14] -z-10"
          style="background-image: url('/Sydney.jpg');"
        />
        <p slot="content" class="max-w-xl">
          <strong>Uno de los días más esperados del año</strong> en la comunidad hispanohablante, <strong>con dos grandes hitos concentrados en un mismo directo</strong>. Una alfombra por la que pasarán <strong>los mejores streamers del año</strong>, luciendo sus mejores galas, momentos antes de saber si son los premiados.
        </p>
      </RecentWorkBentoItem>
      <RecentWorkBentoItem class="col-span-1 md:col-span-6" title="DISFRUTA DEL REDDIT DE LA COMUNIDAD">
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-[#892C14] -z-10"
        style="background-image: url('/Sydney.jpg');"
        />
        <p slot="content" class="max-w-xl">
          Este año, el reddit <strong>no formará parte de las votaciones de los premios, pero sí que formará parte de la comunidad</strong>. El subreddit oficial de los Premios ESLAND está abierto para ti, para que compartas tus clips, tus opiniones y <strong>para que interactúes con toda la comunidad del streaming hispanohablante</strong>.
        </p>
      </RecentWorkBentoItem>
      <RecentWorkBentoItem 
        class="col-span-1 md:col-span-4" 
        title="LA GALA" 
        subtitle="17 de febrero de 2024"
      >
        <div
          slot="image"
          class="absolute left-0 top-0 bottom-0 w-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-[#892C14] -z-10"
          style="background-image: url('/Sydney.jpg');"
        />
        <p slot="content" class="max-w-xl">
          Y una gala llena de emoción, <strong>con la entrega de premios, conciertos de artistas internacionales, y una gran cantidad de contenido</strong> pensado exclusivamente para la comunidad de streaming hispanohablante.
        </p>
      </RecentWorkBentoItem>
  </div>
  <button 
    class="bg-[#892C14] border-2 border-transparent px-4 py-2 text-white rounded-lg cursor-pointer scale-90
    transition-all duration-200 ease-in-out hover:scale-110 hover:opacity-100 hover:bg-transparent hover:border-[#892C14]
    hover:text-[#892C14]"
  >Ver todos los trabajos</button>
</section>