---
import RecentWorkItem from "./RecentWorkItem.astro"
---

<section id="recentWork" class="w-full xl:w-[1440px] mx-auto py-20 flex flex-col justify-center items-center space-y-10">
  <article class="w-full xl:w-[1440px] flex flex-col justify-center items-center">
    <h2 class="text-3xl m-2">Mis últimos trabajos</h2>
    <div class="bg-[#892C14] w-1/5 h-1"></div>
  </article>
  <article class="w-full xl:w-[1440px] flex flex-wrap justify-center items-center gap-10">
    <RecentWorkItem />
    <RecentWorkItem />
    <RecentWorkItem />
    <button class="bg-[#892C14] px-4 py-2 text-white rounded-lg">Ver todos los trabajos</button>
  </article>
</section>