---
import Banner from "@/components/Banner.astro"
import Layout from "../../layouts/Layout.astro"
import { recentWorks } from "@/lib/data"

const { title } = Astro.params

export async function getStaticPaths() {

  return recentWorks.map(recentWork => ({
    params: { title: recentWork.title }
  }))
}
---


<Layout title="Alejandro Arroyo - Photo">
	<main class="flex flex-col justify-center">
    <Banner
			class="h-[40vh]"
			title={title}
		/>
	</main>
</Layout>